{% assign trans = site.data.values[site.lan] %}
<div class="footer">
    <p>&copy;{{ site.time | date: '%Y' }} {{ site.name }}
    </p>
</div>

<!--
    {% include disqus-counts.html %}
-->
    {% include analytics.html %}


</body>
</html>
