<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.site_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js" async="async"></script>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if lt IE 9]>
       <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
       <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
    {% seo %}
    <meta property="og:site_name" content="Ajinkya Kolhe" />

{% include isso-comments.html %}
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">Ajinkya Kolhe</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% assign trans = site.data.values[site.lan] %}
                    <!--
                    <li class="active"><a href="{{ site.url }}{{ site.baseurl }}/training">{{ trans.training }}</a></li>
                    -->
                    <li class="active"><a href="{{ site.url }}{{ site.baseurl }}/blog">{{ trans.blog }}</a></li>
                    <li class="active"><a href="{{ site.url }}{{ site.baseurl }}/about">{{ trans.about }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
