{% assign trans = site.data.values[site.lan] %}
<h1>{{ trans.training_box }}</h1>
<ul>
  <li><a href="{{site.baseurl}}/training/Python">Python Programming</a></li>
  <li><a href="{{site.baseurl}}/training/Machine-Learning-Beginners">Machine Learning for Beginners</a></li>
  <li><a href="{{site.baseurl}}/training/Deep-Learning-Beginners">Deep Learning for Beginners</a></li>
<!--
  {% for link in site.data.trainings_box %}
  <li>
    <a href="{{ link.url }}">
      {{ link.title }}
    </a>
  </li>
  {% endfor %}
-->
</ul>
